In [35]:
# Cell 1: Imports and Loading (Step 4)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from statsmodels.tsa.arima.model import ARIMA

# Load datasets
df_produce = pd.read_csv('../data/produce.csv')
df_yield_prod = pd.read_csv('../data/datafile (2).csv')
df_cost = pd.read_csv('../data/datafile (1).csv')
df_index = pd.read_csv('../data/datafile.csv')
df_varieties = pd.read_csv('../data/datafile (3).csv')

# Quick check
df_produce.head()

,Particulars,Frequency,Unit,3-1993,3-1994,3-1995,3-1996,3-1997,3-1998,3-1999,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,Agricultural Production Foodgrains,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
1,Agricultural Production Foodgrains Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.30942,109.8734,110.57622,120.95724,118.138577,103.954032,120.853191,131.274812,128.07,129.3686
2,Agricultural Production Foodgrains Rabi,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.05340,98.7282,106.70590,109.81780,116.327600,114.153340,123.638618,128.011441,129.06,135.0120
3,Agricultural Production Foodgrains Rice,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.13170,91.7934,93.35530,96.69290,99.182500,89.092901,95.979819,105.301100,105.24,106.2872
4,Agricultural Production Foodgrains Rice Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.23000,78.2719,80.17080,82.65940,84.908200,75.916510,80.651241,92.780700,92.37,92.0093

In [36]:
# Cell 2: Inspection (Step 5)
print("=== produce.csv ===")
print("Info:")
print(df_produce.info())
print("\nDescribe:")
print(df_produce.describe())
print("\nHead:")
print(df_produce.head())
# ... (other datasets)

=== produce.csv ===
Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Particulars  429 non-null    object
 1   Frequency    429 non-null    object
 2   Unit         429 non-null    object
 3    3-1993      3 non-null      float64
 4    3-1994      4 non-null      float64
 5    3-1995      4 non-null      float64
 6    3-1996      6 non-null      float64
 7    3-1997      10 non-null     float64
 8    3-1998      10 non-null     float64
 9    3-1999      11 non-null     float64
 10   3-2000      20 non-null     float64
 11   3-2001      22 non-null     float64
 12   3-2002      36 non-null     float64
 13   3-2003      128 non-null    float64
 14   3-2004      361 non-null    float64
 15   3-2005      425 non-null    float64
 16   3-2006      423 non-null    float64
 17   3-2007      418 non-null    float64
 18   3-2008      417 non-null    float64
 19   3-2009      418 non-null    float64
 20   3-2010      403 non-null    float64
 21   3-2011      404 non-null    float64
 22   3-2012      388 non-null    float64
 23   3-2013      298 non-null    float64
 24   3-2014      63 non-null     float64
dtypes: float64(22), object(3)
memory usage: 83.9+ KB
None

Describe:
        3-1993   3-1994   3-1995     3-1996        3-1997        3-1998  \
count      3.0      4.0      4.0   6.000000     10.000000     10.000000
mean       0.0      0.0      0.0   6.753000   1310.623000   1276.252000
std        0.0      0.0      0.0  16.337482   4128.680346   4019.889103
min        0.0      0.0      0.0   0.000000      0.000000      0.000000
25%        0.0      0.0      0.0   0.000000      0.000000      0.000000
50%        0.0      0.0      0.0   0.000000      0.215000      0.230000
75%        0.0      0.0      0.0   0.313500      3.290000      2.875000
max        0.0      0.0      0.0  40.100000  13061.000000  12717.000000

             3-1999        3-2000        3-2001        3-2002  ...  \
count     11.000000     20.000000     22.000000     36.000000  ...
mean    1146.230909    621.747000    588.115000    425.641667  ...
std     3777.583647   2708.616162   2682.320751   2152.677440  ...
min        0.000000      0.000000      0.000000      0.000000  ...
25%        0.000000      0.390000      0.367500      2.400000  ...
50%        0.460000      4.050000      4.920000     15.850000  ...
75%       14.470000     30.775000     25.575000     81.475000  ...
max    12536.000000  12129.000000  12597.000000  12963.000000  ...

             3-2005        3-2006        3-2007        3-2008        3-2009  \
count    425.000000    423.000000    418.000000    417.000000    418.000000
mean    1103.899915   1136.604858   1146.262067   1213.930482   1234.754599
std     3910.204724   3925.459550   3936.081939   4046.762259   4146.021269
min        0.000000      0.000000      0.060000      0.060000      0.050000
25%        5.100000      5.589950      5.717500      5.748600      5.827500
50%       36.800000     36.520000     37.715000     40.760000     42.885000
75%     1082.000000   1127.000000   1193.250000   1349.000000   1297.250000
max    65945.000000  64473.000000  64969.000000  66151.000000  67024.000000

             3-2010        3-2011        3-2012        3-2013       3-2014
count    403.000000    404.000000    388.000000    298.000000    63.000000
mean    1144.015426   1228.541458   1352.353707   1355.741134   252.303495
std     4054.786966   4186.449378   4366.571068   2950.845362   670.745277
min        0.058400      0.045000      0.050000      0.050000     0.087500
25%        5.378950      5.632750      5.780000      4.322500     2.853700
50%       43.770000     45.500000     43.830000     77.850000    13.451800
75%     1228.000000   1365.250000   1592.250000   1857.000000    93.929250
max    67929.000000  68554.000000  69118.000000  30300.000000  3059.000000

[8 rows x 22 columns]

Head:
                                      Particulars  \
0              Agricultural Production Foodgrains
1       Agricultural Production Foodgrains Kharif
2         Agricultural Production Foodgrains Rabi
3         Agricultural Production Foodgrains Rice
4  Agricultural Production Foodgrains Rice Kharif

                         Frequency    Unit   3-1993   3-1994   3-1995  \
0  Annual, Ending mar Of Each Year  Ton mn      NaN      NaN      NaN
1  Annual, Ending mar Of Each Year  Ton mn      NaN      NaN      NaN
2  Annual, Ending mar Of Each Year  Ton mn      NaN      NaN      NaN
3  Annual, Ending mar Of Each Year  Ton mn      NaN      NaN      NaN
4  Annual, Ending mar Of Each Year  Ton mn      NaN      NaN      NaN

    3-1996   3-1997   3-1998   3-1999  ...     3-2005    3-2006     3-2007  \
0      NaN      NaN      NaN      NaN  ...  198.36282  208.6016  217.28212
1      NaN      NaN      NaN      NaN  ...  103.30942  109.8734  110.57622
2      NaN      NaN      NaN      NaN  ...   95.05340   98.7282  106.70590
3      NaN      NaN      NaN      NaN  ...   83.13170   91.7934   93.35530
4      NaN      NaN      NaN      NaN  ...   72.23000   78.2719   80.17080

      3-2008      3-2009      3-2010      3-2011      3-2012   3-2013  \
0  230.77504  234.466177  218.107372  244.491809  259.286253   257.13
1  120.95724  118.138577  103.954032  120.853191  131.274812   128.07
2  109.81780  116.327600  114.153340  123.638618  128.011441   129.06
3   96.69290   99.182500   89.092901   95.979819  105.301100   105.24
4   82.65940   84.908200   75.916510   80.651241   92.780700    92.37

     3-2014
0  264.3806
1  129.3686
2  135.0120
3  106.2872
4   92.0093

[5 rows x 25 columns]

In [37]:
# Cell 3: Cleaning produce.csv (Step 6, where error occurred)
df_produce = df_produce.replace('NA', pd.NA)
df_produce_t = df_produce.set_index('Particulars').T.iloc[2:].apply(pd.to_numeric, errors='coerce')
df_produce_t.columns = df_produce_t.columns.str.strip()
df_produce_t.head()

Particulars,Agricultural Production Foodgrains,Agricultural Production Foodgrains Kharif,Agricultural Production Foodgrains Rabi,Agricultural Production Foodgrains Rice,Agricultural Production Foodgrains Rice Kharif,Agricultural Production Foodgrains Rice Rabi,Agricultural Production Foodgrains Wheat Rabi,Agricultural Production Foodgrains Jowar,Agricultural Production Foodgrains Jowar Kharif,Agricultural Production Foodgrains Jowar Rabi,...,Agricultural Production Foodgrains Coarse Cereals Yield Karnataka,Agricultural Production Foodgrains Coarse Cereals Yield Madhya Pradesh,Agricultural Production Foodgrains Coarse Cereals Yield Maharashtra,Agricultural Production Foodgrains Coarse Cereals Yield Orissa,Agricultural Production Foodgrains Coarse Cereals Yield Punjab,Agricultural Production Foodgrains Coarse Cereals Yield Rajasthan,Agricultural Production Foodgrains Coarse Cereals Yield Tamil Nadu,Agricultural Production Foodgrains Coarse Cereals Yield Uttar Pradesh,Agricultural Production Foodgrains Coarse Cereals Yield Uttaranchal,Agricultural Production Foodgrains Coarse Cereals Yield West Bengal
3-1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3-1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3-1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3-1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3-1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Cleaning produce.csv
- Replaced 'NA' with pd.NA.
- Transposed to make years as rows, crops as columns.
- Converted to numeric, stripped column names.

In [38]:
df_produce_t.t()

AttributeError: 'DataFrame' object has no attribute 'random'