In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from statsmodels.tsa.arima.model import ARIMA

# Load datasets from parent directory (since notebook is in notebooks/)
df_produce = pd.read_csv('../data/produce.csv')  # Use ../ to go up one folder
df_yield_prod = pd.read_csv('../data/datafile (2).csv')
df_cost = pd.read_csv('../data/datafile (1).csv')
df_index = pd.read_csv('../data/datafile.csv')
df_varieties = pd.read_csv('../data/datafile (3).csv')

# Quick check
df_produce.head()

,Particulars,Frequency,Unit,3-1993,3-1994,3-1995,3-1996,3-1997,3-1998,3-1999,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,Agricultural Production Foodgrains,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
1,Agricultural Production Foodgrains Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.30942,109.8734,110.57622,120.95724,118.138577,103.954032,120.853191,131.274812,128.07,129.3686
2,Agricultural Production Foodgrains Rabi,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.05340,98.7282,106.70590,109.81780,116.327600,114.153340,123.638618,128.011441,129.06,135.0120
3,Agricultural Production Foodgrains Rice,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.13170,91.7934,93.35530,96.69290,99.182500,89.092901,95.979819,105.301100,105.24,106.2872
4,Agricultural Production Foodgrains Rice Kharif,"Annual, Ending mar Of Each Year",Ton mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.23000,78.2719,80.17080,82.65940,84.908200,75.916510,80.651241,92.780700,92.37,92.0093

In [2]:
# Verify all datasets loaded
print("produce.csv shape:", df_produce.shape)
print("datafile (2).csv shape:", df_yield_prod.shape)
print("datafile (1).csv shape:", df_cost.shape)
print("datafile.csv shape:", df_index.shape)
print("datafile (3).csv shape:", df_varieties.shape)

produce.csv shape: (429, 25)
datafile (2).csv shape: (55, 16)
datafile (1).csv shape: (49, 6)
datafile.csv shape: (13, 9)
datafile (3).csv shape: (78, 5)